body {
    text-align: center;
    background-color: hsl(60, 96%, 79%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #afc9cf;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #afc9cf;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #789fcc;
    cursor: pointer;
    border-radius: 5px;
}